:root {
   --body-color: #F2F9FE;
   --btn-color: #2A4DD0; 
   --dark-mode-text-color: #909193;
   --themes-color: #111729;
   --light-mode-text-color: #223344;
   --white-color: #FFFFFF;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color: var(--body-color);
    font-size: 18px;
    font-weight: 500;
}


header {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding: 20px 10px;
   position: relative;
}



 img {
    max-width: 100%;
}



nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--white-color);
    height: 100vh;
    width: 230px;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
}


ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   margin-top: 100px;
}


li::after {
   content: "";
   display: block;
   height: 2px;
   width: 0;
   border-radius: 10px;
   background-color: var(--btn-color); 
   transition: width 0.4s ease;
}


li:hover::after, li a:hover {
   width: 100%;
   color: var(--btn-color); 
}



.mode {
   background-color: var(--themes-color); 
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 50px;
   padding: 0 2px;
   width: 45px;
   margin-top: 25px;
}


.mode img:nth-of-type(1) {
   width: 100%;
   max-width: 20px;
}


.mode img:nth-of-type(2) {
   background: #FFFFFF;
   border-radius: 50%;
   width: 100%;
   max-width: 16px;
}


.hamburger {
   position: absolute; 
   right: 10px;
   z-index: 3;
   cursor: pointer;
}



a {
   color: var(--light-mode-text-color);
   text-decoration: none; 
}



main {
   display: flex; 
   flex-direction: column;
   gap: 40px;
   margin-top: 20px;
   padding: 10px;
   flex: 1;
}




main .hero-image {
   align-self: center;
}



.hero-info p:first-of-type {
   font-size: 14px; 
   margin-bottom: 10px;
}


.hero-info h1 { 
   line-height: 50px;
   color: var(--light-mode-text-color);
   margin-bottom: 10px;
   width: 200px;
}


.hero-info h1 + p {
   color: var(--dark-mode-text-color);
   font-size: 16px;
   width: 350px;
   margin-bottom: 15px;
}


.hero-info .btn {
   display: flex;
   align-items: center;
   gap: 20px; 
   margin-bottom: 25px;
}


.btn-primary,
.btn-secondary {
    border: none;
    font-size: 16px;
    cursor: pointer;
}


.btn .btn-primary{
   color: var(--white-color);
   background-color: var(--btn-color);
   padding: 10px 20px;
   border-radius: 7px;
   transition: background-color 0.2s ease;
}


.btn .btn-secondary{
   color: var(--btn-color);
   background-color: transparent;
   font-weight: 600;
}


.btn .btn-primary:hover {
   background-color: var(--themes-color);  
}


.btn .btn-secondary::after {
   content: '';
   display: block;
   height: 2px;
   background-color: var(--btn-color); 
   margin-top: 3px;
}


.extra {
   display: flex; 
   gap: 15px;
}



.extra1,
.extra2 {
   display: flex;
   align-items: center;
   gap: 5px; 
   font-size: 14px;
   color: var(--dark-mode-text-color);
}


.extra img {
    max-width: 22px; 
    margin-bottom: 10px;
}



@media screen and (max-width: 415px) {
  .extra { 
    flex-direction: column;
    gap: 5px;
  }

}




@media screen and (min-width: 640px) {
    header {
        padding: 30px;
    }


    nav {
        width: 300px;
    }


    ul {
        gap: 30px;
        margin-top: 130px;
    }


    .mode {
        margin-top: 40px;
        width: 60px;
    }


    .mode img:nth-of-type(1) {
        max-width: 25px;
    }


    .mode img:nth-of-type(2) {
        max-width: 20px;
    }


    .hamburger {
        right: 30px;
    }


    main {
        padding: 0 30px;
    }


    main .hero-image {
      align-self: center;
     
  }



    .hero-info p:first-of-type {
        font-size: 16px; 
        margin-bottom: 20px;
    }


    .hero-info h1 { 
        font-size: 45px;
        line-height: 55px;
        width: 600px;
        margin-bottom: 25px;
    }


    .hero-info h1 + p {
        font-size: 18px;
        width: 550px;
        margin-bottom: 25px;
    }


    .hero-info .btn {
        gap: 25px; 
        margin-bottom: 25px;
    }



    .btn .btn-primary{
        padding: 13px 30px;
    }



    .extra {
        display: flex; 
        gap: 20px;
    }



    .extra1,
    .extra2 {
        gap: 7px; 
        font-size: 16px;
    }


    .extra img {
        max-width: 25px; 
    }

}





@media screen and (min-width: 1024px) {

    header {
        padding: 30px 40px 20px;
        position: unset;
    }


    nav {
        position: unset;
        top: unset;
        right: unset;
        background-color: unset;
        height: unset;
        width: 100%;
        z-index: unset;
        display: flex;
        flex-direction: row;
    }


    ul {
        flex-direction: row;
        gap: 50px;
        margin-top: unset;
        margin: 0 auto;
    }



    .mode {
        padding: 0 2px;
        width: 50px;
        margin-top: 0;
    }


    .mode img:nth-of-type(1) {
        max-width: 20px;
    }


    .mode img:nth-of-type(2) {
        max-width: 16px;
    }


    .hamburger {
        position: unset; 
        right: unset;
        z-index: unset;
        display: none;
    }




    main {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: unset;
        margin-top: 70px;
        padding: 0 40px;
    }




    main .hero-image {
       align-self: flex-start;
       width: 400px;
    }



    .hero-info p:first-of-type {
        margin-bottom: 15px;
    }


    .hero-info h1 { 
        font-size: 60px;
        line-height: 75px;
        margin-bottom: 15px;
        width: 400px;
    }


    .hero-info h1 + p {
        width: 550px;
        margin-bottom: 20px;
    }


    .hero-info .btn {
        gap: 25px; 
        margin-bottom: 30px;
    }



   
    .extra {
        gap: 30px;
    }



    .extra img {
        margin-bottom: 15px;
    }

}



@media screen and (min-width:1280px) {
     main .hero-image {
       width: 550px;
    }
}